<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465859889528-vdnqejhqp2sghd2vb8cg1b67l6gdq06q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465859889528-vdnqejhqp2sghd2vb8cg1b67l6gdq06q</string>
	<key>API_KEY</key>
	<string>AIzaSyBXnq90bABRbtmVHU7pIZv_J-0vXQ_gLeY</string>
	<key>GCM_SENDER_ID</key>
	<string>465859889528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.codeFinder</string>
	<key>PROJECT_ID</key>
	<string>codecracker-d5f11</string>
	<key>STORAGE_BUCKET</key>
	<string>codecracker-d5f11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465859889528:ios:7de217fc4f719cd658e08d</string>
</dict>
</plist>